#nav-wrap {
	position: fixed;
	top: 0;

	z-index: 1;

	border-bottom: 1px rgba(black, 0.07) solid;
	background-color: rgba(white, 0.99);
	padding: 1em 1em;

	width: 100%;
	height: $navbar-height;

	li {
		display: block;
		position: relative;
		float: left;

		cursor: pointer;

		a {
			margin-right: 1em;
			color: #000000;
			font-size: 0.85em;
		}

		&:last-child {
			margin-right: 0em;
		}
	}

	.logotype {
		img {
			height: em(28px);
		}
	}
}

#site-content {
	margin-top: $navbar-height;
}

#header-wrap {
  position: relative;

  background-image: url('landing.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

  text-align: center;
  height: em(540px);

  h1 {
    margin: 2em 0;
    color: white;
    font-size: 3.5em;
  }

  .overlay {
    background-color: rgba(black, 0.35);
    height: 100%;
  }
}

#content-wrap {
  position: relative;
	overflow: hidden;
	padding-bottom: 2em;
}
